@import 'tailwindcss';

@config '../tailwind.config.ts';

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,700;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Raleway:ital,wght@0,200;0,300;0,400;0,700;0,900;1,100;1,500&display=swap'); */

  /* SANS: PLUS JAKARTA SANS */
  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./fonts/PlusJakartaSansVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./fonts/PlusJakartaSansItalicVF.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  /* SERIF: MERRIWEATHER */
  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather/Merriweather-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather/Merriweather-BlackItalic.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
  }

  /* MONO: JET BRAINS MONO */
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMonoVF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMonoItalicVF.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/*** animations ***/

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-200px);
    /* Negative half of background height */
  }

  100% {
    transform: translateY(0px);
    /* Negative half of background height */
  }
}

@theme {
  /* FIRST PART(Brand & Accents):  https://coolors.co/000000-006633-228b22-800080-4a0e4e-c8a2ff-99ddff-00ced1-d4af37-ff9966 */
  /* SECOND PART(Support & Semantic): https://coolors.co/d9d9d9-f9f7f5-ffffff-36454f-2c2c2c-1e1e1e-ff0202-228b22-ffaa01-0d43ff */

  --color-primary0-50: #f6f6f6;
  --color-primary0-100: #e7e7e7;
  --color-primary0-200: #d1d1d1;
  --color-primary0-300: #b0b0b0;
  --color-primary0-400: #888888;
  --color-primary0-500: #6d6d6d;
  --color-primary0-600: #5d5d5d;
  --color-primary0-700: #4f4f4f;
  --color-primary0-800: #454545;
  --color-primary0-900: #3d3d3d;
  --color-primary0-950: #000000;

  --color-primary-50: #ecfff4;
  --color-primary-100: #d2ffe9;
  --color-primary-200: #a8ffd3;
  --color-primary-300: #65ffb3;
  --color-primary-400: #1bff8b;
  --color-primary-500: #00f96a;
  --color-primary-600: #00d053;
  --color-primary-700: #00a245;
  --color-primary-800: #007e3b;
  --color-primary-900: #006633;
  --color-primary-950: #003b1a;

  --color-primary1B-50: #f1fcf1;
  --color-primary1B-100: #e0f9df;
  --color-primary1B-200: #c2f1c1;
  --color-primary1B-300: #92e491;
  --color-primary1B-400: #5acf59;
  --color-primary1B-500: #34b433;
  --color-primary1B-600: #228b22;
  --color-primary1B-700: #207521;
  --color-primary1B-800: #1e5d1f;
  --color-primary1B-900: #1a4d1b;
  --color-primary1B-950: #092a0b;

  --color-secondary-50: #fff1fe;
  --color-secondary-100: #ffe1fe;
  --color-secondary-200: #ffc3fe;
  --color-secondary-300: #ff94f9;
  --color-secondary-400: #ff54f6;
  --color-secondary-500: #ff16f4;
  --color-secondary-600: #f500ff;
  --color-secondary-700: #d100d9;
  --color-secondary-800: #ad00b1;
  --color-secondary-900: #800080;
  --color-secondary-950: #620063;

  --color-secondaryRegal-50: #fcf5fe;
  --color-secondaryRegal-100: #f9ebfc;
  --color-secondaryRegal-200: #f2d5f9;
  --color-secondaryRegal-300: #e8b4f3;
  --color-secondaryRegal-400: #dc88ea;
  --color-secondaryRegal-500: #ca59dc;
  --color-secondaryRegal-600: #b03abf;
  --color-secondaryRegal-700: #932d9e;
  --color-secondaryRegal-800: #7a2781;
  --color-secondaryRegal-900: #66246b;
  --color-secondaryRegal-950: #4a0e4e;

  --color-accent2-50: #f9f5ff;
  --color-accent2-100: #f1e8ff;
  --color-accent2-200: #e6d4ff;
  --color-accent2-300: #c8a2ff;
  --color-accent2-400: #b682fe;
  --color-accent2-500: #9b53f9;
  --color-accent2-600: #8431ec;
  --color-accent2-700: #7020d0;
  --color-accent2-800: #601faa;
  --color-accent2-900: #501b88;
  --color-accent2-950: #340665;

  --color-accent1-50: #f0f9ff;
  --color-accent1-100: #dff2ff;
  --color-accent1-200: #b8e5ff;
  --color-accent1-300: #99ddff;
  --color-accent1-400: #33bdfd;
  --color-accent1-500: #09a5ee;
  --color-accent1-600: #0083cc;
  --color-accent1-700: #0068a5;
  --color-accent1-800: #045988;
  --color-accent1-900: #0a4a70;
  --color-accent1-950: #062e4b;

  --color-accent1B-50: #eefffd;
  --color-accent1B-100: #c6fffb;
  --color-accent1B-200: #8efff9;
  --color-accent1B-300: #4dfbf6;
  --color-accent1B-400: #19e8e8;
  --color-accent1B-500: #00ced1;
  --color-accent1B-600: #009ea4;
  --color-accent1B-700: #027d83;
  --color-accent1B-800: #086167;
  --color-accent1B-900: #0c5155;
  --color-accent1B-950: #002f34;

  --color-accent3-50: #faf9ec;
  --color-accent3-100: #f4f0cd;
  --color-accent3-200: #ebdf9d;
  --color-accent3-300: #dfc865;
  --color-accent3-400: #d4af37;
  --color-accent3-500: #c59b2d;
  --color-accent3-600: #aa7a24;
  --color-accent3-700: #885920;
  --color-accent3-800: #724921;
  --color-accent3-900: #623e21;
  --color-accent3-950: #382010;

  --color-accent4-50: #fff4ed;
  --color-accent4-100: #ffe5d4;
  --color-accent4-200: #ffc8a9;
  --color-accent4-300: #ff9966;
  --color-accent4-400: #fe6f39;
  --color-accent4-500: #fc4913;
  --color-accent4-600: #ed2f09;
  --color-accent4-700: #c51f09;
  --color-accent4-800: #9c1a10;
  --color-accent4-900: #7e1810;
  --color-accent4-950: #440906;

  --color-accent4B-50: #fff2f1;
  --color-accent4B-100: #ffe4e1;
  --color-accent4B-200: #ffccc7;
  --color-accent4B-300: #ffa8a0;
  --color-accent4B-400: #ff6f61;
  --color-accent4B-500: #f84c3b;
  --color-accent4B-600: #e52f1d;
  --color-accent4B-700: #c12314;
  --color-accent4B-800: #a02014;
  --color-accent4B-900: #842218;
  --color-accent4B-950: #480d07;

  --color-offWhite-50: #f7f7f7;
  --color-offWhite-100: #ededed;
  --color-offWhite-200: #d9d9d9;
  --color-offWhite-300: #c8c8c8;
  --color-offWhite-400: #adadad;
  --color-offWhite-500: #999999;
  --color-offWhite-600: #888888;
  --color-offWhite-700: #7b7b7b;
  --color-offWhite-800: #676767;
  --color-offWhite-900: #545454;
  --color-offWhite-950: #363636;

  --color-offWhite1B-50: #f9f7f5;
  --color-offWhite1B-100: #efeae5;
  --color-offWhite1B-200: #ded4ca;
  --color-offWhite1B-300: #cab7a7;
  --color-offWhite1B-400: #b39684;
  --color-offWhite1B-500: #a47f6b;
  --color-offWhite1B-600: #976f5f;
  --color-offWhite1B-700: #7e5b50;
  --color-offWhite1B-800: #674c45;
  --color-offWhite1B-900: #54403a;
  --color-offWhite1B-950: #2c201e;

  --color-textDark-50: #ffffff;
  --color-textDark-100: #efefef;
  --color-textDark-200: #dcdcdc;
  --color-textDark-300: #bdbdbd;
  --color-textDark-400: #989898;
  --color-textDark-500: #7c7c7c;
  --color-textDark-600: #656565;
  --color-textDark-700: #525252;
  --color-textDark-800: #464646;
  --color-textDark-900: #3d3d3d;
  --color-textDark-950: #292929;

  --color-textLight-50: #f6f6f6;
  --color-textLight-100: #e7e7e7;
  --color-textLight-200: #d1d1d1;
  --color-textLight-300: #b0b0b0;
  --color-textLight-400: #888888;
  --color-textLight-500: #6d6d6d;
  --color-textLight-600: #5d5d5d;
  --color-textLight-700: #4f4f4f;
  --color-textLight-800: #454545;
  --color-textLight-900: #3d3d3d;
  --color-textLight-950: #1e1e1e;



  --color-gray2-50: #f3f7f8;
  --color-gray2-100: #e0eaed;
  --color-gray2-200: #c5d6dc;
  --color-gray2-300: #9cb9c4;
  --color-gray2-400: #6c93a4;
  --color-gray2-500: #517889;
  --color-gray2-600: #466474;
  --color-gray2-700: #3d5361;
  --color-gray2-800: #36454f;
  --color-gray2-900: #323e47;
  --color-gray2-950: #1e272e;

  --color-gray1-50: #f6f6f6;
  --color-gray1-100: #e7e7e7;
  --color-gray1-200: #d1d1d1;
  --color-gray1-300: #b0b0b0;
  --color-gray1-400: #888888;
  --color-gray1-500: #6d6d6d;
  --color-gray1-600: #5d5d5d;
  --color-gray1-700: #4f4f4f;
  --color-gray1-800: #454545;
  --color-gray1-900: #3d3d3d;
  --color-gray1-950: #2c2c2c;

  --color-gray3-50: #f6f6f6;
  --color-gray3-100: #e7e7e7;
  --color-gray3-200: #d1d1d1;
  --color-gray3-300: #b0b0b0;
  --color-gray3-400: #888888;
  --color-gray3-500: #6d6d6d;
  --color-gray3-600: #5d5d5d;
  --color-gray3-700: #4f4f4f;
  --color-gray3-800: #454545;
  --color-gray3-900: #3d3d3d;
  --color-gray3-950: #1e1e1e;




  /* SEMANTIC COLOURS */

  --color-error-50: #fff0f0;
  --color-error-100: #ffdddd;
  --color-error-200: #ffc0c0;
  --color-error-300: #ff9494;
  --color-error-400: #ff5757;
  --color-error-500: #ff2323;
  --color-error-600: #ff0202;
  --color-error-700: #d70000;
  --color-error-800: #b10303;
  --color-error-900: #920a0a;
  --color-error-950: #500000;

  --color-warn-50: #fffdea;
  --color-warn-100: #fff6c5;
  --color-warn-200: #ffee85;
  --color-warn-300: #ffde46;
  --color-warn-400: #ffcb1b;
  --color-warn-500: #ffaa01;
  --color-warn-600: #e28000;
  --color-warn-700: #bb5902;
  --color-warn-800: #984408;
  --color-warn-900: #7c380b;
  --color-warn-950: #481c00;

  --color-success-50: #f1fcf1;
  --color-success-100: #e0f9df;
  --color-success-200: #c2f1c1;
  --color-success-300: #92e491;
  --color-success-400: #5acf59;
  --color-success-500: #34b433;
  --color-success-600: #228b22;
  --color-success-700: #207521;
  --color-success-800: #1e5d1f;
  --color-success-900: #1a4d1b;
  --color-success-950: #092a0b;

  --color-info-50: #e8f6ff;
  --color-info-100: #d5eeff;
  --color-info-200: #b3ddff;
  --color-info-300: #85c3ff;
  --color-info-400: #569bff;
  --color-info-500: #2f73ff;
  --color-info-600: #0c45ff;
  --color-info-700: #0d43ff;
  --color-info-800: #0635cd;
  --color-info-900: #10369f;
  --color-info-950: #0a1d5c;



}